* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Anonymous Pro', monospace;
  background: black;
  color: white;
  font-size: 12px;
  overflow-x: hidden;
  overflow-y: hidden;
}

#app {
  display: grid;
  grid-template-columns: [item] 1fr;
  grid-gap: 20px;
  border: 1px solid white;
  margin: 20px;
  padding: 20px;
}

#app > div {
  padding: 20px;
  border: 1px solid white;
}

.test1 {
  grid-column: item;
  display: flex;
}

.test2 {
  grid-column: item;
  display: flex;
}

.box {
  margin: 2px;
  width: 10px;
  height: 10px;
  background-color: white;

  transition: 0.4s;
}

.box:hover {
  background-color: black;
}
